<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
<listeners>
<listener class-name="rudraAcademy.testcomponents.Listeners"/>
</listeners>
  <test thread-count="5" name="submitOrderTest">
    <classes>
      <class name="rudraAcademy.submitOrder"/>
    </classes>
  </test>
  <test thread-count="5" name="Error Validation">
    <classes>
      <class name="rudraAcademy.errorValidation"/>
    </classes>
  </test>
</suite> <!-- Suite -->
